.App {
	text-align: center;
}

.back-main-pink {
	background-size: cover;
	background: linear-gradient(
		to bottom,
		rgb(255, 239, 186),
		rgb(255, 255, 255),
		white
	);
}

.back-main-purple {
	background-size: cover;
	background: linear-gradient(
		to top,
		rgb(217, 167, 199),
		rgb(255, 252, 220),
		white
	);
}

.back-main-blue {
	background: linear-gradient(
		to top,
		rgb(28, 146, 210),
		rgb(242, 252, 254),
		white
	);
}
