.App {
	text-align: center;
}

.back-main-pink {
	background-size: cover;
	background: linear-gradient(to top, #eec0c2, #ffefba, #ffffff);
}

.back-main-purple {
	background-size: cover;
	background: linear-gradient(to top, #d9a7c7, #fffcdc, #ffffff);
}

.back-main-blue {
	background: linear-gradient(to top, #1c92d2, #f2fcfe, #ffffff);
}
